<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Josiah Wiebe</string>
	<key>CFBundleDisplayName</key>
	<string>Toodle Things</string>
	<key>CFBundleIdentifier</key>
	<string>net.josiahwiebe.toodlethings</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4b</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
		<key>Stylesheets</key>
		<array>
			<string>toodlethings.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Restyles Toodledo, original styles by Nonimage and Garfield.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.toodledo.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/josiahwiebe/toodlethings/releases/download/1.0/Toodle.Things.safariextz</string>
	<key>Website</key>
	<string>http://www.jwie.be</string>
</dict>
</plist>
